<!DOCTYPE html>
<html>
    <head>
        <title>Counter</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class='jumbotron'>
            <h1>Counter</h1>
            <p>{{ session['counter'] }}</p>
            <form>
                <a type='link' class='btn btn-danger' href="/destroy_session" name='destroy_session'>Destroy Session</a>
            </form>
            
        </div>
    </body>
</html>