<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to the Dojo Garden</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class='container'>
            <div class='jumbotron text-center'>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h3 class='alert alert-success'>{{ message }} </h3>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <h1>You have entered the Garden, {{ user['first_name'] }}!</h1>
                <div class='row justify-content-between text-center'>
                    <div class='col'>
                        <p>Click here to continue to your wall.</p>
                        <a class='btn btn-success' href="/wall">Continue</a>
                    </div>
                    <div class='col'>
                        <p>Click here to log out.</p>
                        <a class ='btn btn-danger' href='/logout'>Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>